# Dependencies
node_modules

# Build output
.next
out
build
dist

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.pem

# Environment files
.env
.env*.local
