@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.special-font {
  font-family: "Space Mono", monospace;
}

.slick-dots li.slick-active button:before {
  color: White !important;
}

.slick-dots button:before {
  color: rgb(208, 208, 208) !important;
}

.snap-y {
  /* Firefox Compatibility */
  scrollbar-width: thin;
  scrollbar-color: #afafaf #2d3748;

  /* Webkit Compatibility */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #3b4557;
  }
}
